.containerBigCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-right: 15px;
  cursor: pointer;
}

.bigCard{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

.bigCardImg > img{
  min-width: 30rem;
  max-width: 30rem;
  border-radius: 2%;
}

.bigCardImg{
  margin-bottom: 15px;
}

.bigCardDesc > p{
  color: gray
}

.dataeautor > p {
  color: gray;
  display: flex;
  justify-content: flex-end;
}
