.menu-title_Container{
  margin-top: 50px;
}

.menu-title_Container > h1{
  font-size: 140px;
  display: flex;
  font-weight: bolder;
  justify-content: center;
  padding: 0;
}

.menu-title_Container > hr{
  margin-bottom: 20px;
  border-color: grey;

}
