.containerArticles{
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
}
.articlesMain{
  display: flex;
  flex-direction: row;
}

.header{
  border: 3px solid red;
  width: 100%;
  justify-content: center;
  position: static;
}
