<header class="header">
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="containerArticles">
  <div class="articlesMain">
    <app-big-card id="1"
    photoCover="https://s2-g1.glbimg.com/JYTuuzRN4oFty4PZIig05XEuWbc=/0x0:1500x1500/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2022/z/Y/mEiBjuQAOzX5mvqsQULA/clubeesquina1972.jpg"
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra ex mi, ac fringilla est ultrices id. Mauris ultricies dui at lorem interdum vehicula."
    cardTitle="Clube da Esquina"
    altCover="Imagem da capa do album 'Clube da Esquina'"
    autorDate="1971"
    autorNews="Milton Nascimento e Lô Borges"
    ></app-big-card>
    <div class="otherArticles">
      <app-small-card
      id="2"
      altImg="Imagem da capa do Albul Tim Maia 1973"
      autorNews="Tim Maia"
      cardImg="https://s2-g1.glbimg.com/jFOW_2dJDU41QROjkYXsfP9qaI4=/0x0:1000x1000/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/S/8/GVtBIkRZOTgHqhMX1JBQ/timmaia1973.jpg"
      cardTitle="Tim Maia (1973)"
      ></app-small-card>
      <app-small-card
      id="3"
      altImg="Imagem do LP 'Krig-ha, Bandolo!'"
      autorNews="Raul Seixas"
      cardImg="https://upload.wikimedia.org/wikipedia/pt/7/75/KrigHaBandolo.jpg"
      cardTitle="Krig-ha, Bandolo!"
      ></app-small-card>
      <app-small-card
      id="4"
      altImg="Nada como um dia após o Outro"
      autorNews="Racionais MC's"
      cardImg="https://photos.enjoei.com.br/box-lp-vinil-racionais-mcs-nada-como-um-dia-apos-o-outro-dia-lacrado-88137939/800x800/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy81MTM2MTk3LzBjNzZlNzY3NWYyN2JjNTEzM2M0MWE4OTJiMmJlNDIyLmpwZw"
      cardTitle="Nada como um dia após o Outro"
      ></app-small-card>
    </div>
  </div>
</div>
