<div class="menuBar">
  <div class="containerMenuBar">
    <div class="logoMenuBar">
      <h2>THE BLOG</h2>
    </div>

    <div class="sectionsMenu">
      <ul>
        <li><a href="#"></a>Seção1</li>
        <li></li>
        <li><a href="#"></a>Seção2</li>
        <li></li>
        <li><a href="#"></a>Seção3</li>
        <li></li>
        <li><a href="#"></a>Seção4</li>
        <li></li>
        <li><a href="#"></a>Seção5</li>
        <li></li>
        <li><a href="#"></a>Seção6</li>
      </ul>
    </div>

    <div class="buscar">
      <input type="search" name="" id="">
    </div>

  </div>
</div>
