.menuBar{

}

.containerMenuBar{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 41px;
  padding-bottom: 5px;
  position: fixed;
  align-items: center;
  width: 100%;
}

.sectionsMenu > ul{
  display: flex;
  flex-direction: row;
  margin-right: 185px;
  margin-left: 185px;
}


.sectionsMenu > ul >li{
  margin-right: 20px;
  list-style: none;
}
